services:
  laravel_db:
    image: pgvector/pgvector:pg17-trixie
    container_name: laravel_db
    shm_size: '2gb'
    #This is optimized for 10GB RAM | 4 CPU | 100 conns
    command: 
      - '-cmax_connections=100'
      - '-cshared_buffers=2560MB'
      - '-ceffective_cache_size=7680MB'
      - '-cmaintenance_work_mem=640MB'
      - '-ccheckpoint_completion_target=0.9'
      - '-cwal_buffers=16MB'
      - '-cdefault_statistics_target=100'
      - '-crandom_page_cost=1.1'
      - '-ceffective_io_concurrency=200'
      - '-cwork_mem=25206kB'
      - '-chuge_pages=off'
      - '-cmin_wal_size=2GB'
      - '-cmax_wal_size=8GB'
      - '-cmax_worker_processes=4'
      - '-cmax_wal_size=8GB'
      - '-cmax_parallel_workers_per_gather=2'
      - '-cmax_parallel_workers=4'
      - '-cmax_parallel_maintenance_workers=2'
      - "-cshared_preload_libraries=pg_stat_statements"
    ports:
      - 63548:5432
    environment:
      PGDATA: /pgdata
    env_file:
      - pgqdb.env
    volumes:
      - /docker-pgdata:/pgdata
    healthcheck:
      test: '[ $(netstat -an | grep postgres | wc -l) == "1" ] && true || false'
      interval: 15s
      timeout: 3s
      retries: 5
    restart: unless-stopped