services:
  redis:
    image: redis:7-alpine
    container_name: laravel_redis
    command: redis-server --maxmemory 256mb --maxmemory-policy allkeys-lru --save "" --appendonly no
    volumes:
      - redis-data:/data
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 15s
      timeout: 3s
      retries: 5
    restart: unless-stopped
    networks:
      - laravel

  laravel_db:
    image: pgvector/pgvector:pg17-trixie
    container_name: laravel_db
    shm_size: '512mb'
    #This is optimized for 2GB RAM | 1 CPU | 30 conns
    depends_on:
      redis:
        condition: service_healthy
    command:
      - '-cmax_connections=30'
      - '-cshared_buffers=512MB'
      - '-ceffective_cache_size=1536MB'
      - '-cmaintenance_work_mem=128MB'
      - '-ccheckpoint_completion_target=0.9'
      - '-cwal_buffers=16MB'
      - '-cdefault_statistics_target=100'
      - '-crandom_page_cost=4'
      - '-ceffective_io_concurrency=2'
      - '-cwork_mem=8738kB'
      - '-chuge_pages=off'
      - '-cmin_wal_size=512MB'
      - '-cmax_wal_size=2GB'
      - '-cmax_worker_processes=1'
      - '-cmax_parallel_workers_per_gather=1'
      - '-cmax_parallel_workers=1'
      - '-cmax_parallel_maintenance_workers=1'
      - "-cshared_preload_libraries=pg_stat_statements"
    ports:
      - 63548:5432
    environment:
      PGDATA: /dbdata
    env_file:
      - pgqdb.env
    volumes:
      - /docker-pgdata:/dbdata
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
    healthcheck:
      test: '[ $(netstat -an | grep postgres | wc -l) == "1" ] && true || false'
      interval: 15s
      timeout: 3s
      retries: 5
    restart: unless-stopped
    networks:
      - laravel

networks:
  laravel:
    driver: bridge

volumes:
  redis-data: